# Django Settings
DEBUG=True
SECRET_KEY=sdjhsdlkj32"£$%£$%Ddfndfndd£$
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=assessment_engine
DB_USER=postgres
DB_PASSWORD=your-password
DB_HOST=localhost
DB_PORT=5432

# JWT Settings
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# Gemini AI
GEMINI_API_KEY=your-gemini-api-key-here
ENABLE_GEMINI_GRADING=False

admin login
benji@gmail.com
benji918"